Source: moat-gpio
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/M-o-a-T/

Package: moat-gpio
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Recommends: wiringpi
Replaces: python3-moat-gpio
Conflicts: python3-moat-gpio
Description: Control GPIO lines via AMQP
 This program controls GPIO lines via AMQP.
 Currently it supports basic Linux GPIO features,
 i.e. input, output, and line monitoring.
 .
 There's also a mode to toggle a GPIO line depending
 on the data, e.g. "open" turns GPIO1 on and off, "close"
 signals GPIO2.
