[Unit]
Description=Run moat-gpio
After=network.target

[Service]
ConditionFileNotEmpty=/etc/moat/gpio.cfg
ExecStart=/usr/bin/moat-gpio -c /etc/moat/gpio.cfg
